{% extends 'base.html.twig' %}

{% block title %}
    Accueil - Movie Tracker
{% endblock %}

{% block body %}
    <div class="container flow-text">
        <h1 class="center-align">Accueil</h1>
        <p class="center-align">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid aperiam, aspernatur commodi consequuntur cupiditate distinctio, dolorum exercitationem harum ipsam molestias natus nihil numquam officia perferendis placeat quam rem soluta.
        </p>
        <nav>
            <div class="nav-wrapper blue-grey darken-3">
                <form>
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>
    </div>
{% endblock %}