{% extends 'base.html.twig' %}

{% block title %}
    Nouveau - movieTracker
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Sign In</h1>
        {% include "Form/user.html.twig" %}
    </div>
{% endblock %}
