{% extends 'base.html.twig' %}

{% block title %}
    Edit Image - movieTracker
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Image</h1>
        {% include "Form/editUserImg.html.twig" %}
    </div>
{% endblock %}
