{% extends 'base.html.twig' %}

{% block title %}
    Edit - movieTracker
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit</h1>
        {% include "Form/editUser.html.twig" %}
    </div>
{% endblock %}
