{% extends 'base.html.twig' %}

{% block title %}
    Edit Password - movieTracker
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Password</h1>
        {% for message in app.flashes('notice') %}
            <div class="chip red">
                {{ message }}
                <i class="close material-icons">close</i>
            </div>
        {% endfor %}
        {% include "Form/editUserPasswd.html.twig" %}
    </div>
{% endblock %}
